{
  "presets": [
    [
      "@babel/env",
      {
        "corejs": 3.21,
        "useBuiltIns": "usage",
        "debug": true,
        "modules": false
      }
    ],
    [
      "@babel/react"
    ]
  ]
}